<p id="notice"><%= notice %></p>

<h1>Top Songs</h1>
<p><%= link_to new_song_path do %>
  <span class="fa fa-plus"></span> Add
  <% end %>
</p>
<!-- 
<h2>Your top ratings</h2>
<%# @rates.each do |rate| %>
  <%# if current_user == rate.rater %>
     <h1><%#= rate.rater.email %></h1>

    <h2><%#= rate.rateable.name %></h2>
    <h2><%#= rate.stars %></h2>
 <%# end %>
<%# end %> -->

<% @songs.each_slice(2) do |songs| %>
  <div class="row">
    <% songs.each do |song| %>
      <div class="col-md-6">
        <div class="well">
         
          <!-- <h3 style="margin-top:0"><span class="label label-info">
            <%# if song.rank != nil %>
              <%#= song.rank %>
            <%# else %>
              No rank
            <%# end %>
            </span> 
          </h3> -->
          <h2><%#= link_to song.name, song %>
            <%= song.name %></h2>
          <!-- <h3>Your rating</h3> -->
            <%#= rating_for song, "song" %>
          <h3>by <%= song.artist.name %></h3>
          <p>
            <% "#{song.rank}".to_i.times do |rank| %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </p>
          <!-- <p><%#= song.album %></p> -->
          <hr style="margin-bottom:0"/>
          <h4 style="padding:0;margin-bottom:0"><%= link_to edit_song_path(song) do %>
            <span class="fa fa-pencil-square-o"></span>
          <% end %>
          
          <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %>
             <span class="fa fa-trash-o"></span>
          <% end %>
          </h4>
        
        </div>
      </div>
    <% end %>
  </div>
<% end %>